{% extends '_layout.html' %}
{% block title %}About Us{% endblock %}
{% set active_page = 'about' %}

{% block body %}


    <!--Main Content Start-->
    
    <div class="container-fluid p-3 my-0 my-content"> 
        <h1>About Newt & Xeno...</h1>
    </div>

        <!--Begining of div for picture of cats at top of page-->
        <div class="container-fluid p-3 my-0 my-content"> 
            <img src = "/static/images/kittens.jpg"  height="350">
        </div>
        <!--End of Picture div-->

    <div class="container-fluid p-3 my-0 my-content"> <!--Beginning of Paragraph Div-->
        <p> Newt & Xeno were born on March 17, 2016 in Gastonia, North Carolina. </br>
            They currently live in Charlotte, North Carolina with their humans, </br>
            Maxim and Wendy Dushanin. </p>
    </div><!--End of Paragraph Div-->

    <div class="container-fluid p-3 my-0 my-content"> <!--Beginning of UL Title Div-->
        <h3>Newt and Xeno enjoy: </h3>
    </div> <!--End of UL Title Div-->

    <div class="container-fluid p-3 my-0 my-content"> <!--Beginning of UL-->
        <ul class="supersize-that">
            <li>Watching birds</li>
            <li>Long naps</li>
            <!--Link to Amazon Store (External Link Requirement)-->
            <li>Playing with <a href ="https://www.amazon.com/Rimobul-Assorted-Color-Sparkle-Favorite/dp/B00LJ392JC/ref=sr_1_10?keywords=cat+floof+balls&qid=1645919225&sprefix=%2Caps%2C69&sr=8-10">
                Floofs</a></li>
        </ul>
    </div> <!--End of UL-->
    
    <!--Main Content End-->

    {% endblock %}
