{% extends '_layout.html' %}
{% block title %}Contact Us{% endblock %}
{% set active_page = 'contact' %}

{% block body %}

    <!--Main Content Start-->

    <!--Beginning of Div for paragraph-->
    <div class="container-fluid p-3 my-0 my-content"> 
        <p>Please contact us for more information about Newt & Xeno by submitting the form below.</p>
    </div>
    <!--End of Div for paragraph-->

        <!--Begining of div for picture of cats at top of page-->
        <div class="container-fluid p-3 my-0 my-content"> 
            <img src = "/static/images/pretty.jpeg"  height="300">
        </div>
        <!--End of Picture div-->

    <!--Beginning of Div for Form-->
    <div class="container-fluid p-3 my-0 my-content">

        <div class="container-fluid p-3 my-3 form-box"> <!--Beginning of White Rectangle Div-->

            <form> <!--Beginning of Form-->
                <div> <!--Beginning of Contact Form Title Div-->
                    <h3 class="bold-that underline-that">Contact Form</h3>
                </div><!--End of Contact Form Title Div-->

                <div class="mb-3"><!--Beginning of Email Input Div-->
                    <label for="exampleInputEmail1" class="form-label bold-that">Email address:</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text soft-that">We'll never share your email with anyone else.</div>
                </div><!--End of Email Input Div-->

                <div><!--Beginning of Checkbox Title Div-->
                    <div id="checkInstruct" class="form-text bold-that">Who would you like more information about?</div>
                </div><!--End of Checkbox Title Div-->

                    <div class="mb-3 form-check"><!--Beginning of First Checkbox-->
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Newt</label>
                    </div><!--End of Second Checkbox-->

                    <div class="mb-3 form-check"><!--Beginning of Second Checkbox-->
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Xeno</label>
                    </div><!--End of Second Checkbox-->

                <button type="submit" class="btn btn-dark">Submit</button> <!--Submit Button -->

            </form><!--End of Form-->
        </div> <!--End of White Rectangle-->

    </div> <!--End of Form Div-->

    <!--Main Content End-->
    {% endblock %}
