{% extends '_layout.html' %}
{% block title %}Home{% endblock %}
{% set active_page = '/' %}

{% block body %}
    <!--Main Content Start-->

    <div class="container-fluid p-3 my-0 my-content"> <!--Beginning of Image Div-->
        <img src = "/static/images/cats.jpg" width="500" height="600">
    </div> <!--End of Image Div-->

    <div class="container-fluid p-0 my-0 my-content"> <!--Beginning of Div for Paragraph 1-->
        <p>Welcome to a website devoted to my cats.</p>
    </div> <!--End of Div For Paragraph 1-->

    <div class="container-fluid p-0 my-0 my-content"> <!--Beginning of Div for Paragraph 2-->
        <p>Please meet Newt & Xeno.</p>
    </div> <!--End of Div for Paragraph 2-->

    <div class="container-fluid p-0 my-0 my-content"> <!--Beginning of Div for Paragraph 3-->
        <p>JUST LOOK AT THEM, PLEASE.</p>
    </div> <!--End of Div for paragraph 3-->

    <!--Main Content End-->
    {% endblock %}
